{% extends 'web/web_base.html' %}
{% load static %}

<head>
    {% block title %} Learn More {% endblock %} | MUSCLEMATRIX
    {% block style %} {% endblock %}<style></style>
</head>

{% block body %}

<body class="loading">
    <main>
        <div class="intro">
            <div id="item-intro" class="content content--intro">
                <div class="content__img-wrap">
                    <div class="content__img content__img--1">
                        <div class="content__img-inner"
                            style="background-image:url({% static 'web/images/about_img/about_main.jpg' %});"></div>
                    </div>
                </div>
            </div>
            <h1 class="intro__title">
                <span class="intro__title-pre">LEARN ABOUT SERVICES</span>
            </h1>
            <span class="intro__info">Let’s Get Sweaty! 💦 <br> Scroll to See What’s Next</span>
        </div>

        <!-- Plan Sections -->
        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/Services_img/4.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">Strength Training</h1>
                        <p>
                            Strength training is a type of exercise focused on building muscle strength and endurance by
                            working against resistance, which can come from free weights, machines, resistance bands, or
                            bodyweight exercises. It offers numerous benefits, including increased muscle mass, improved
                            bone density, better mental health, fat loss, and enhanced athletic performance. Common
                            exercises include squats, deadlifts, bench presses, and pull-ups, which target various
                            muscle groups. For beginners, it's important to start with lighter weights, focus on proper
                            form, and gradually increase intensity over time. Consistency, along with rest and recovery,
                            is key to seeing progress and avoiding injury.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/Services_img/5.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">Cardio Workouts</h1>
                        <p>
                            Cardio workouts, also known as aerobic exercise, involve activities that increase your heart
                            rate and improve cardiovascular endurance. These workouts include activities like running,
                            cycling, swimming, jump rope, or even dancing. The benefits of cardio are vast, including
                            improved heart health, increased lung capacity, better stamina, weight loss, and enhanced
                            mood through the release of endorphins. Cardio can be done at varying intensities, such as
                            low-intensity steady-state (LISS) like walking, or high-intensity interval training (HIIT),
                            which alternates between short bursts of intense activity and rest. A balanced cardio
                            routine should incorporate a mix of both for optimal fitness and health, and can be easily
                            adapted to fit your personal fitness level and goals.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/Services_img/6.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">Functional Training</h1>
                        <p>
                            Functional training focuses on exercises that mimic real-life movements to improve your
                            ability to perform everyday activities. It typically involves multi-joint movements that
                            engage multiple muscle groups at once, enhancing strength, stability, balance, and
                            coordination. Exercises like squats, lunges, kettlebell swings, and rotational movements are
                            commonly used in functional training, helping improve posture, prevent injuries, and
                            increase overall mobility. This type of training is designed to enhance your body's
                            functional capabilities, making daily tasks—such as lifting, bending, or carrying—easier and
                            safer. It's beneficial for athletes and individuals of all fitness levels, promoting better
                            movement patterns and improved physical performance in daily life.
                        </p>

                    </div>
                </div>
            </div>
        </section>

        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/Services_img/7.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">Yoga & Flexibility</h1>
                        <p>
                            Yoga and flexibility go hand in hand, as yoga involves a series of postures and stretches
                            that enhance flexibility, strength, and balance. Regular practice improves the range of
                            motion in joints and muscles, helping to prevent stiffness and injury. Yoga also promotes
                            relaxation, stress relief, and mental clarity through mindful breathing and focused
                            movements. Poses like downward dog, forward folds, and hip openers stretch key areas such as
                            the hamstrings, back, hips, and shoulders. Over time, yoga increases overall flexibility,
                            improves posture, and boosts mobility, making it an excellent addition to any fitness
                            routine for both physical and mental well-being.
                        </p>

                    </div>
                </div>
            </div>
        </section>

        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/Services_img/8.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">Combat & Self-Defense</h1>
                        <p>
                            Combat training and self-defense focus on developing skills to protect yourself and others
                            in dangerous situations, while also improving physical strength, coordination, and mental
                            resilience. Combat training often involves martial arts, boxing, kickboxing, jiu-jitsu, or
                            other disciplines that teach effective striking, grappling, and defensive techniques.
                            Self-defense training, on the other hand, teaches practical techniques to escape from
                            dangerous situations, defend against common attacks, and gain control over an attacker. Both
                            types of training enhance awareness, agility, and confidence, providing not just physical
                            benefits but also a sense of empowerment and readiness to handle real-world threats.
                        </p>

                    </div>
                </div>
            </div>
        </section>

        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/Services_img/9.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">Weight Loss & Fat Burning</h1>
                        <p>
                            Weight loss and fat burning involve creating a calorie deficit, where you burn more calories
                            than you consume, leading to the reduction of body fat. Effective strategies for weight loss
                            include a combination of a balanced diet, regular physical activity, and strength training.
                            Cardiovascular exercises like running, cycling, and swimming, along with high-intensity
                            interval training (HIIT), are particularly effective for burning fat, as they elevate your
                            heart rate and increase calorie burn. Strength training also plays a key role, as building
                            muscle boosts metabolism, helping the body burn more calories even at rest.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/Services_img/10.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">Sports-Specific Training</h1>
                        <p>
                            Sports-specific training is a tailored workout approach designed to enhance the skills,
                            strength, and endurance required for a particular sport. It focuses on the movements,
                            techniques, and energy systems used in that sport, aiming to improve performance and reduce
                            the risk of injury. For example, a basketball player may focus on agility, jumping ability,
                            and endurance, while a football player might work on power, speed, and explosive strength.
                            Exercises often incorporate sport-specific drills, conditioning, and strength training that
                            mimic the demands of the game. This type of training helps athletes develop the necessary
                            skills and physical attributes to perform at their best while also improving overall
                            athleticism.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/Services_img/11.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">Group Fitness Classes</h1>
                        <p>
                            Group fitness classes are structured workout sessions led by an instructor, designed to
                            provide motivation and camaraderie while targeting various aspects of fitness, such as
                            strength, cardio, flexibility, and endurance. These classes can include a variety of
                            formats, such as spin, Zumba, HIIT, boot camps, yoga, pilates, and circuit training,
                            catering to different fitness levels and preferences. Participating in group fitness classes
                            offers a supportive environment, where participants can challenge themselves alongside
                            others, fostering a sense of community and accountability. The energy of the group and the
                            guidance of a qualified instructor help keep individuals engaged, making workouts more
                            enjoyable and effective.
                        </p>
                    </div>
                </div>
            </div>
        </section>



        <p class="credits">Made by <a href="https://twitter.com/codrops">@vivekbarvaliya</a></p>
    </main>

    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/splitting.min.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'js/lenis.min.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
</body>
{% endblock %}