{% extends 'web/web_base.html' %}
{% load static %}

<head>
    {% block title %} Contact Us {% endblock %} | MUSCLEMATRIX
    {% block style %} {% endblock %}<style></style>
</head>

{% block body %}

<body class="loading">
    <main>
        <div class="intro">
            <div id="item-intro" class="content content--intro">
                <div class="content__img-wrap">
                    <div class="content__img content__img--1">
                        <div class="content__img-inner"
                            style="background-image:url(../../static/web/images/contact_img/contact_main.jpg);">
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="intro__title">
                <span class="intro__title-pre">Contact</span>
            </h1>
            <span class="intro__info">Let’s Get Sweaty! 💦 <br> Scroll to See What’s Next</span>
        </div>
        <div class="content-wrap">
            <div id="item-2" class="content">
                <div class="content__img-wrap">
                    <div class="content__img content__img--1">
                        <div class="content__img-inner"
                            style="background-image:url(../../static/web/images/about_img/about3.jpg);">
                        </div>
                        <div class="content__img-inner content__img-inner--hidden"
                            style="background-image:url(../../static/web/images/about_img/about4.jpg);"></div>
                    </div>
                </div>
                <p class="content__text content__text--left"><span>From Thrones to Chains</span> <span>Surrender of
                        Sovereignty</span></p>
            </div>
            <form id="contact-form" class="contact-form" method="post" action="#">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required placeholder="Your Name" />
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required placeholder="Your Email" />
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required placeholder="Your Message"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-submit">Send Message</button>
                </div>
            </form>
        </div>
        <p class="credits">Made by <a href="https://twitter.com/codrops">@vivekbarvaliya</a></p>
    </main>
    <script src="https://tympanus.net/codrops/adpacks/cda_sponsor.js"></script>
    <script src="../../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../../static/js/splitting.min.js"></script>
    <script src="../../static/js/gsap.min.js"></script>
    <script src="../../static/js/ScrollTrigger.min.js"></script>
    <script src="../../static/js/lenis.min.js"></script>
    <script type="module" src="../../static/js/index.js"></script>
</body>
{% endblock %}