<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions - Muscle Matrix</title>
    <link rel="stylesheet" href="../../static/css/base.css">
</head>

<body
    style="background-image: url(../../static/web/images/loginbg.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;">
    <div class="tac_container">
        <h1>Terms and Conditions</h1>
        <p>Welcome to <a href="{% url 'register_view' %}"><strong style="color: #66b3f6;">MUSCLEMATRIX</strong></a> By
            using our services, you
            agree to the
            following terms.</p>
        <div class="tac_content">
            <h2>1. Introduction</h2>
            <p>At MUSCLEMATRIX, we are committed to providing you with the best fitness experience possible. Our goal
                is to create a supportive and inclusive environment where you can reach your health and fitness goals.
                This document outlines the terms and conditions for using our gym facilities and services.</p>

            <h2>2. Membership</h2>
            <p>Membership at Muscle Matrix is non-transferable and non-refundable. All members are required to adhere to
                the gym's policies and guidelines. Membership fees are subject to change, and members will be notified
                of any adjustments.</p>

            <h2>3. Conduct</h2>
            <p>All members must conduct themselves in a respectful manner. We promote a friendly atmosphere and expect
                everyone to treat fellow members and staff with respect. Harassment, bullying, or any inappropriate
                behavior will not be tolerated.</p>

            <h2>4. Liability</h2>
            <p>Muscle Matrix is not responsible for any personal injuries or loss of property while on the premises.
                Members are encouraged to use the facilities safely and responsibly. Please consult with a medical
                professional before beginning any new exercise program.</p>

            <h2>5. Changes to Terms</h2>
            <p>We may update these terms from time to time. Please check back regularly for any changes. Your continued
                use of the gym signifies your acceptance of the revised terms.</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="../../static/js/t&c.js"></script>
</body>

</html>