{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css" />
    <link rel="stylesheet" href="https://use.typekit.net/eay5gla.css">
    <link rel="shortcut icon" href="../../static/web/images/favicon.png" type="image/x-icon">

    <title>
        {% block title %}{% endblock %} | MUSCLEMATRIX
    </title>
    {% block style %}{% endblock %}

    <script>document.documentElement.className = "js";</script>
    <script src="//tympanus.net/codrops/adpacks/analytics.js"></script>
</head>

<body>
    <nav class="border-gray-700 sticky top-0 shadow-2xl z-10 border-b border-gray-700">
        <div class="frame">
            <h1 class="frame__title">MUSCELMATRIX</h1>
            <div class="flex gap-8">
                <a class="frame__a" href="{% url 'index_view' %}">Home</a>
                <a class="frame__a" href="#">Services</a>
                <a class="frame__a" href="{% url 'about_view' %}">About Us</a>
                <a class="frame__a" href="{% url 'contact_view' %}">Contact</a>
            </div>
            <div class="flex gap-8">
                {% if request.session.client_id %}
                <a class="frame_login" href="{% url 'profile_view' %}">Profile</a>
                <a class="frame__prev" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="frame_login" href="{% url 'login_view' %}">Login</a>
                <a class="frame__prev" href="{% url 'register_view' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
    <script>
        const navbarToggle = document.getElementById('navbar-toggle');
        const navbarMenu = document.getElementById('navbar-default');

        navbarToggle.addEventListener('click', () => {
            navbarMenu.classList.toggle('hidden');
            navbarMenu.classList.toggle('block');
        });
    </script>
</body>

</html>