{% extends 'web/web_base.html' %}
{% load static %}

<head>
    {% block title %} Learn More {% endblock %} | MUSCLEMATRIX
    {% block style %} {% endblock %}<style></style>
</head>

{% block body %}

<body class="loading">
    <main>
        <div class="intro">
            <div id="item-intro" class="content content--intro">
                <div class="content__img-wrap">
                    <div class="content__img content__img--1">
                        <div class="content__img-inner"
                            style="background-image:url({% static 'web/images/about_img/about_main.jpg' %});"></div>
                    </div>
                </div>
            </div>
            <h1 class="intro__title">
                <span class="intro__title-pre">LEARN ABOUT PLAN</span>
            </h1>
            <span class="intro__info">Let’s Get Sweaty! 💦 <br> Scroll to See What’s Next</span>
        </div>

        <!-- Plan Sections -->
        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/hero_img/4.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">3-Month Plan</h1>
                        <p>
                            Our 3-month membership plan is designed to help you achieve your fitness goals with
                            flexibility and support. Whether you're looking to build strength, improve your endurance,
                            or try out our wide range of fitness classes, this plan gives you unlimited access to all of
                            our gym facilities and group sessions. Plus, you'll receive a personalized fitness
                            assessment and training plan tailored to your needs. With no long-term commitment, it's the
                            perfect option for those who want to stay motivated and see real results in just three
                            months. Sign up today and start your fitness journey with us!
                        </p>
                        <div class="card_buttons">
                            <button class="buy">Pay Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/hero_img/6.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">6-Month Plan</h1>
                        <p>
                            Our 6-month membership plan is designed to help you achieve your fitness goals with
                            flexibility and support. Whether you're looking to build strength, improve your endurance,
                            or try out our wide range of fitness classes, this plan gives you unlimited access to all of
                            our gym facilities and group sessions. Plus, you'll receive a personalized fitness
                            assessment and training plan tailored to your needs. With no long-term commitment, it's the
                            perfect option for those who want to stay motivated and see real results in just six months.
                            Sign up today and start your fitness journey with us!
                        </p>
                        <div class="card_buttons">
                            <button class="buy">Pay Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="my-8">
            <div class="Card">
                <div class="img_card">
                    <img src="../../../static/web/images/hero_img/8.jpg" class="image" />
                </div>

                <div class="Detail">
                    <div>
                        <h1 class="lm_title">12-Month Plan</h1>
                        <p>
                            Our 12-month membership plan is designed to help you achieve your fitness goals with
                            flexibility and support. Whether you're looking to build strength, improve your endurance,
                            or try out our wide range of fitness classes, this plan gives you unlimited access to all of
                            our gym facilities and group sessions. Plus, you'll receive a personalized fitness
                            assessment and training plan tailored to your needs. With no long-term commitment, it's the
                            perfect option for those who want to stay motivated and see real results over the course of
                            an entire year. Sign up today and start your fitness journey with us!
                        </p>
                        <div class="card_buttons">
                            <button class="buy">Pay Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <p class="credits">Made by <a href="https://twitter.com/codrops">@vivekbarvaliya</a></p>
    </main>

    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/splitting.min.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'js/lenis.min.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
</body>
{% endblock %}